<h2>Change Password Form Example:</h2>
<form [formGroup]="form">

  <div class="form-group">
    <label for="">
      Old Password
    </label>
    <input formControlName="oldPass" class="form-control" type="password">
    <div
      *ngIf="oldPass.touched && oldPass.invalid"
      class="alert alert-danger">
      <div *ngIf="oldPass.errors.required">
        Old password required!
      </div>
      <div *ngIf="oldPass.errors.invalidOldPassword">
        Old password is invalid!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">
      New Password
    </label>
    <input formControlName="newPass" class="form-control" type="password">
    <div
      *ngIf="newPass.touched && newPass.invalid"
      class="alert alert-danger">
      <div *ngIf="newPass.errors.required">
        New password required!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">
      Confirm Password
    </label>
    <input formControlName="confPass" class="form-control" type="password">
    <div
      *ngIf="confPass.touched && confPass.invalid"
      class="alert alert-danger">
      <div *ngIf="confPass.errors.required">
        Must confirm new password!
      </div>
    </div>
    <div
      *ngIf="confPass.valid && form.errors?.passwordsMatch"
      class="alert alert-danger">
      Passwords do not match!
    </div>

  </div>

  <button class="btn btn-primary">
    Change Password
  </button>
</form>
