<h1>SANDBOX</h1>
<br><br><br>

<!-- Example of a Form to change password. -->
<app-change-password></app-change-password>
<br><br><br>

<!-- Example of another New Course Form showcasing FormArray -->
<app-another-new-course-form></app-another-new-course-form>
<br><br><br>

<!-- Example of Reactive Form -->
<signup-form></signup-form>
<br><br><br>

<!-- Example of New Course Component. -->
<app-new-course-form></app-new-course-form>
<br><br><br>

<!-- Example of Bootstrap 'Contact' Form. -->
<app-contact-form></app-contact-form>
<br><br><br>

<!-- Example of 'Zippy' Component. -->
<h2>Zippy Component Example:</h2>
<app-zippy title="Shipping Details">
  Some content regarding shipping details.
</app-zippy>
<app-zippy title="Billing Details">
  Some other content, this time about billing details.
</app-zippy>
<br><br><br>

<!-- Example of Creating Custom Directives -->
<h2>Custom Directives Example:</h2>
<input type="text" [appInputFormat]="'uppercase'">
<br>
<input type="text" [appInputFormat]="'lowercase'">
<br><br><br>

<!-- Exammple of Safe Traversal Operator -->
<h2>Safe Traversal Operator Example:</h2>
<span>{{ task.assignee?.firstName }} {{ task.assignee?.lastName }}</span>
<br><br><br>

<!-- Example of ngStyle with Save Buttons -->
<h2>Save Button with ngStyle Example:</h2>
<button
  [style.backgroundColor]="canSave ? 'blue' : 'gray'"
  [style.color]="canSave ? 'white' : 'black'"
  [ngStyle]="{
    'backgroundColor': canSave ? 'blue' : 'gray',
    'color': canSave ? 'white' : 'black'
  }"
  (click)="canSaveToggle()"
  >
  Save
</button>
<br><br><br>

<!-- Example of ngFor with course objects -->
<h2>ngFor with Course Objects Example:</h2>
<button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of courses3; trackBy: trackCourse; index as i">
    {{ i }} - {{ course.name }} 
    <button (click)="onChange(course)">Change</button>
    <button (click)="onRemove(course)">Remove</button>
  </li>
<button (click)="onAdd()">Add</button>
</ul>
<br><br><br>


<!-- nav related things from Bootstrap -->
<h2>Bootstrap nav-related Things:</h2>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      [class.active]="viewMode == 'map'"
      class="nav-link"
      data-toggle="pill"
      (click)="viewMode = 'map'">
      Map View
    </a>
  </li>
  <li class="nav-item">
    <a
      [class.active]="viewMode == 'list'"
      class="nav-link"
      data-toggle="pill"
      (click)="viewMode = 'list'">
      List View
    </a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">
    Map View Content
  </div>
  <div *ngSwitchCase="'list'">
    List View Content
  </div>
  <div *ngSwitchDefault>
    Default
  </div>
</div>
<br><br><br>


<!-- Example of *ngIf and [hidden] -->
<h2>ngIf and hidden Example:</h2>
<!-- Only puts the respective dev in the DOM -->
<div
  *ngIf="courses.length > 0; then coursesList else noCourses">
</div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No courses yet =(
</ng-template>
<br>
<!-- Puts BOTH devs in the DOM, just hides one -->
<div
  [hidden]="courses2.length == 0">
  Another list of courses
</div>
<div
  [hidden]="courses2.length > 0">
  No additional courses yet D=
</div>
<br><br><br>


<app-authors></app-authors>
<br><br><br>


<app-title-case></app-title-case>
<br><br><br>


<app-favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)">
</app-favorite>
<br><br><br>


<app-panel>
  <ng-container class="heading">
    <h1>Heading</h1>
  </ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Here is a paragraph for the body.</p>
  </div>
</app-panel>
<br><br><br>


<app-like
  [numLikes]="tweet.numLikes"
  [isActive]="tweet.isLiked"
  [body]="tweet.body"
  >
</app-like>


